/* Importting Tailwind Below */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.logo{
    width: 200px;

}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    font-size: 24px;
    
} */

/*  > is a child combinator */
/* .nav-items > ul > li{
    padding: 0px 10px;
    margin: 10px;  
    text-decoration: none;
}


.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 292px;
    height:500px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 2px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

}

.res-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: pointer;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    height: 200px;
    object-fit: cover;
}


*/
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 292px;
    padding: 5px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 2px;
    height: 400px;
    background: linear-gradient(to right, #f0f0f0 10%, #e0e0e0 20%, #f0f0f0 30%);
    background-size: 200% auto;
    animation: shimmer 2s infinite linear;
  }

  
  @keyframes shimmer {
    0% {
      background-position: -200% center;
    }
    100% {
      background-position: 200% center;
    }
  }
  

  .user-card{
        margin-top: 5px;
        padding: 10px;
        border: 2px solid black;
  }